/* Computer */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}
/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {}
/* Tablet & Computer */
@media only screen and (min-width: 768px) {
.contain{
    width: auto!important;
    padding-top: 4em !important;
    padding-bottom: 4em !important;
    padding-left: 2em !important;
    padding-right: 4em !important;
    background-color: #1B1C1D !important;
}
.maincontain{
    width: auto!important;
    padding-top: 2em !important;
    padding-bottom: 3em !important;
    padding-left: 1em !important;
    padding-right: 2em !important;
}
.loginError{ position: absolute; width: 95%;}
.loginbox{ margin-top: 5em !important;}
.sidebardiv{background: #1B1C1D !important;}
.sidebartopic{ width:30% !important; }
.firstContent{font-size: 45px !important; }
}

