/* Mobile */
@media only screen and (max-width: 767px) {
.contain{
    width: auto!important;
    padding-top: 1em !important;
    padding-bottom: 2em !important;
    padding-left: 1em!important;
    padding-right: 1em!important;
    background-color: #1B1C1D !important;
}
.maincontain{
    width: auto!important;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
    padding-left: 1% !important;
    padding-right: 1%!important;
}
.modtitle{ font-size: 25px;}
.loginbox{ margin-top: 3em !important;}
.headertop{ z-index: 10; position: fixed; left: 0px; top: 0px; width: 100%;}
.footerbottom{ position: fixed; left: 0px; bottom: 0px; width: 100%;}
.loginError{ margin-top: 2em; }
.sidebartopic{ width:70% !important; }
.firstContent{font-size: 25px !important; }
}